.navigation {
    background-color:gray;
    border: 5px;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    display: inline-block;
    margin: 8px;
  }
  
  li a {
    text-decoration: none;
    color: white;
  }
